
*.vsidx
*.db
*.bin
*.ipch
*.log
*.tlog
*.obj
*.recipe
cw4/.vs/COMP5822M-exercises/v17/.suo
cw4/.vs/COMP5822M-exercises/v17/Browse.VC.db-shm
cw4/.vs/COMP5822M-exercises/v17/Browse.VC.db-wal
cw4/.vs/COMP5822M-exercises/v17/Browse.VC.opendb
cw4/.vs/COMP5822M-exercises/v17/Solution.VC.db-shm
cw4/.vs/COMP5822M-exercises/v17/Solution.VC.db-wal
cw4/.vs/COMP5822M-exercises/v17/.suo
